# Question 1: 
Ask user to give two float input for length and breadth of a rectangle and print area type casted to int.

In [7]:

def Area(ln , br):
  return int(ln * br)

ln = float(input("Enter float input number 1: "))
br = float(input("Enter float input number 2: "))
Area(ln ,br)

Enter float input number 1: 2.5
Enter float input number 2: 2.4

6

# Question 2:
Take name, roll number and GPA from user and print in the below format:

My name is xyz and my roll number is xyz. My GPA is xyz

In [8]:
name = input("Enter name: ")
roll_number = input("Enter roll number: ")
gpa = input("Enter gpa: ")

print(f"My name is {name} and my roll number is {roll_number}. My GPA is {gpa}")

Enter name: arslan
Enter roll number: 2090
Enter gpa: 3.5
My name is arslan and my roll number is 2090. My GPA is 3.5

# Question3

Store three integers in x, y and z. Print their sum and product.

In [11]:
# x = int(input("Enter 1st integer: "))
# y = int(input("Enter 2nd integer: "))
# z = int(input("Enter 3rd integer: "))

x = int(4)
y = int(5)
z = int(7)

print(f"Sum is {x + y + z} and product is {x * y * y}")

Sum is 16 and product is 100

#Question4

Suppose passing marks of a subject is 35. Take input of marks from user and check whether it is greater than passing marks or not

In [14]:
passingMarks = 35
marks = int(input("Enter marks: "))
if marks > passingMarks:
  print("Marks are greater than passing marks")
elif marks == passingMarks:
  print("Marks are equal to passing marks")
else:
  print("Marks are less than passing marks")

Enter marks: 34
Marks are less than passing marks

# Question5

A school has following rules for grading system:

1. Below 45 - F
2. 45 to 49 - D
3. 50 to 59 - C
4. 60 to 79 - B
5. 80 or above - A
Ask user to enter marks and print the corresponding grade.

In [18]:
marks = int(input("Enter marks: "))

if marks >= 80:
  print("A")
elif marks >= 60 and marks <= 79:
  print("B")
elif marks >= 50 and marks <= 59:
  print("C")
elif marks >= 45 and marks <= 49:
  print("D")
elif marks < 45:
  print("F")

Enter marks: 80
A

# Question6

Print all elements of a list using for loop.

In [19]:
l = [1,2,3,4,5,6,7,8]

for i in l:
  print(i)

1
2
3
4
5
6
7
8

# Question7

Take 5 integers from user using for loop and print their sum on the screen.

In [23]:
sum = 0

for i in range(0 , 5):
  x = int(input(f"Enter input {i+1}: " ))
  sum += x

print(f"sum: {sum}")

Enter input 1: 1
Enter input 2: 2
Enter input 3: 3
Enter input 4: 4
Enter input 5: 5
sum: 15

# Question8

Take 5 integers from user using while loop and print their sum on the screen.

In [24]:
sum = 0
i = 0

while(i < 5):
  x = int(input(f"Enter input {i+1}: " ))
  sum += x
  i += 1
print(f"sum: {sum}")

Enter input 1: 2
Enter input 2: 3
Enter input 3: 4
Enter input 4: 5
Enter input 5: 6
sum: 20

#Question9

Take two integer numbers from the user, return their product only if the product is equal to or lower than 1000, else return their sum.

In [29]:
x = int(input("Enter 1st number: "))
y = int(input("Enter 2nd Number: "))

if x*y <= 1000:
  print(x*y)
else:
  print(x + y)

Enter 1st number: 45
Enter 2nd Number: 5
225